@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --blue: #1d0d79;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
    --xl: 24px;
  }

body{
     font-family: 'Quicksand', sans-serif;
     background-color: var(--white);
    
}

#container{
    margin: 0 auto;
    
}

.cabecera{
    text-align: center;
    height: 70px;
    line-height: 70px;
    margin: 0px;
  
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--very-light-pink);
   }

nav ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li{
    float: left;
    margin-right: 12px;
}

nav a{
    text-decoration: none;
    color: var(--blue);
    font-size: var(--lg);
    padding: 2px 10px;
    border-radius: 20px;
}
nav a:hover{
    background-color: var(--blue);
    color: var(--white);
}
.clearfix{
    clear: both;
}
.content{
    display: inline;
    float: left;
    width: calc(80% - 40px);
    padding: 20px;
}

.post-container{
  text-align: center;
}
.post-card{
    width: 100%;
}

aside{
    float: left;
    width: calc(20% - 20px);
    padding: 10px;
}

.post img {
    width: 100%;
    height: 250px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
}

.post-info{
    
}
.titulo{
margin: 4px 0;
font-size: var(--xl);
}
.subtitulo{
margin: 0px;
font-size: var(--sm);
text-align: justify;
}

.fecha{
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.comentarios-contairner{
    display: flex;
    flex-direction: column;
 }
 .form-comment{
    display: flex;
    flex-direction: column;
 }

 .comment-info{
     display: inline;
 }
 .categorias{
    padding: 0px;
}
.categorias a{
    text-decoration: none;
    color: var(--blue);
    background-color: var(--text-input-field);
    padding: 4px 10px;
    border-radius: 20px;
}
.categorias ul li{
    float: left;
    list-style: none;
    margin: 12px 0;
}
.categorias ul{
    padding: 0;
}
.recientes{
    text-align: left;
}
.recientes a{
    text-decoration: none;
    color: var(--blue);
    background-color: var(--text-input-field);
    padding: 4px 10px;
    border-radius: 20px;
}
.recientes ul li{
    list-style: none;
    margin: 12px 0;
}
.recientes ul{
    padding: 0;
}


.buscar{
    margin: 0;
    padding: 0;
    display: inline;
}

.btn-enviar{
    display: flex;
    justify-content: center;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
    width: calc(50% - 15px);
    }
.input-buscar {
    background-color: var(--text-input-field);
    border-radius: 8px;
    border: 1px solid var(--black);
    height: 20px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
    width: calc(60% - 12px);
  }
  .input-area {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 150px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
  }

  .primary-button {
    background-color: var(--blue);
    border-radius: 8px;
    border: none;
    color: var(--white);
    cursor: pointer;
    font-size: var(--sm);
    font-weight: bold;
    height: 35px;
    width: calc(40% - 12px);
    
  }

  

footer{
    color: var(--black);
    text-align: center;
    height: 50px;
    line-height: 50px;
}

@media(max-width: 720px ){
    aside{
        display: none;
    }
    .content{
       width: 100%;
    }
    nav{
        display: none;
    }
    
}

@media(min-width: 720px) and (max-width: 950px ){
    .primary-button{
        width: 100%;
    }
    .input{
        width: 91%;
    }
    .buscar{
        text-align: center;
    }
}